

{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}
     

    {#### <pre>
                        {{ dump(cart) }}
                    </pre> ########}


    {#### Card ########}

        {% if cart|length > 0 %}
        {## Lien qui vide intégralement le panier ##}
            <a href="{{ path('delete_all_cart') }} " class=" btn btn-lg btn-primary"> <i class="bi bi-cart-plus"></i>Vider mon panier</a>
        {% set total = null %}
        {% for value in cart %}
            {## Calcul total du price d'un product ( si plusieurs articles ) ** ##}
            {% set total = total + (value.product.price * value.quantity) %}
            <div class="col-md-6 col-lg-4 mt-5">
    <div class="card">
        <img src="{{value.product.picture}}" class="card-img-top" alt="">
        <div class="card-body">
            <h5 class="card-title">{{value.product.title}}</h5>
            <p class="card-text">{{value.product.description}}</p>
            <p class="card-text">
                Quantité : {{value.quantity}}
            </p>
            <p class="card-text">
                Prix : {{ (value.product.price * value.quantity)|number_format(2,',', '.') }} euros
            </p>
            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <a href="{{path("post_cart"  ,{id: value.product.id})}}" class="btn btn-success">
                        <i class="bi bi-cart-plus"></i> Ajouter
                    </a>
                    <a href="{{path("decrease_cart"  ,{id: value.product.id})}}" class="btn btn-primary">
                        <i class="bi bi-cart-primary"></i> Enlever 1
                    </a>
					                    <a href="{{path("delete_cart"  ,{id: value.product.id})}}" class="btn btn-danger">
                        <i class="bi bi-cart-danger"></i> Supprimer
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
        {% endfor %}

        {## Nombre total de produit dans le panier ##}
    Nombre de produit :
    {{ cart|length }}

    {## Total de tout les product du panier | méthode qui rajoute la virgule à la place du point sur le price##}
    <p class="card-text">price total :
        {{ (total)|number_format(2,',', '.')}}
        euros.</p>

    {#### fin Card ########}
{% else %}
    {## Redirection vers la page home si le panier est vide ##}
    <button href="{{ path('app_main') }}">VOTRE PANIER EST VIDE</button>
{% endif %}

{% if not app.user %}
    <div class="text-center">
        <p>Connectez-vous pour accéder à votre panier.</p>
        <a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a>
    </div>
{% else %}
    <div class="text-center">
        <a href=" {{ path('app_stripe_charge')  }} " class=" btn btn-lg btn-primary">
            <i class="bi bi-cart-plus"></i>Valider Votre Panier</a>
    </div>
{% endif %}

{% endblock %}

