{% extends 'base.html.twig' %}

{% block title %}Hello !
{% endblock %}

{% block h3 %}
	<h3 class="fst-italic text-center">
		Ajouter des Categories 
	</h3>
{% endblock h3 %}

{% block body %}

<table class="table">
		<thead>
			<tr class="table bg-primary ">
				<th scope="col ">Categories</th>
				<th scope="col ">nom</th>
			</tr>
		</thead>
		<tbody>
		{% for value in categories %}
				<tr>
					<th scope="row">{{value.id}}</th>
					<td>{{value.nom}}</td> 
						<td><div class="d-flex">
							<a href=" {{ path('categories_update', {'id': value.id } )}}  "><img src="{{ asset('images/loupe.png') }}" alt="" class="me-2" style="width:20px"></a>
							<a href="{{ path('categories_update', {'id': value.id } ) }}"><img src="{{ asset('images/update.png') }}" alt="" class="me-2" style="width:20px"></a>
							<a href=" {{ path('categories_Delete', {'id': value.id } )}} "><img src="{{ asset('images/poubelle.png') }}" alt="" class="me-2" style="width:20px"></a>
						</div>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<h1 class="mb-3 text-center">Insérer un catégorie :</h1>

	{#### Form pour ajouter un categories ########}
	<div class="inputForm">{{form(formCategories)}}</div>


	
		{# fin Form ##}

{% endblock %}
